* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* background-image: url(./escape.jpg); */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cutive Mono", monospace;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-color: red;
    /* background-image: linear-gradient( to top right, #00308f, #002244, #002d62, #00308f); */
}

.start button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #810955;
    color: white;
}

.start button:hover {
    background-color: #371b58;
}

.mainRoom {
    /* background-color: #72a0c1; */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
}


/* for game1 */

.computer {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
}

.computer:hover {
    cursor: pointer;
    background-color: rgba(239, 76, 122, 0.3);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top  */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.card_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_div>div {
    width: 100px;
    height: 130px;
    margin: 20px;
    border-radius: 8%;
    background-color: rgb(123, 165, 151);
}

.checkCard {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    top: 40%;
}


/* .close {
    position: absolute;
    right: 10%;
    width: auto;
 } */

.closegame2:hover {
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}


/* for game2 */

.calculator {
    display: block;
    width: 80px;
    height: 40vh;
    position: absolute;
    top: 30%;
    left: 30%;
}

.modal2 {
    /* width: 500px;
    height: 500px; */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    overflow: auto;
    background-color: rgb(187, 94, 94);
    background-color: rgba(253, 61, 61, 0.4);
}

#container div {
    color: white;
}

#container button {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 4px solid black;
    font-size: 30px;
    font-weight: bold;
    color: rebeccapurple;
    margin: 2px 0 0 2px;
}

#main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
}

#keypad {
    grid-column: 1;
    width: 50%;
    margin-left: 10%;
}

#sum {
    grid-column: 2;
    margin-right: 10%;
}

.numberButton {
    background-color: transparent;
    box-shadow: 10px 10px 5px black;
}

.zeroButton {
    background-color: transparent;
    box-shadow: 10px 10px 5px black;
}

.signButton {
    background-color: transparent;
    box-shadow: 10px 10px 5px black;
}

.position {
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid blue;
}

#message {
    line-height: normal;
    font-size: 1.5em;
}


/* restart button */

.restart {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
    background-color: #f697b7;
}

.restart:hover {
    background-color: #a10035;
}


/* box for game3 */

.box {
    width: 100px;
    height: 50vh;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.door {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 10%;
}


/* flexbox style */

#flexboxPuzzleModal .modal-content {
    background-color: #97eaeee6;
    box-shadow: 0px 0px 30px 10px #db5890e6;
}


/* Modal Content */

.close {
    color: whitesmoke;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
    position: relative;
}


/* close hover for flexxboxg game2 */

.close:hover,
.close:focus {
    /* background-color: red; */
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 80%;
}


/* changed puzzle container's width nad height */

#flexbox-puzzle-container {
    /* width: auto; */
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notification {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in;
}

.flex-menu {
    width: 100%;
    height: 35%;
    padding: 0.3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(40, 6, 6);
}

.flex-menu div {
    display: flex;
    flex-direction: column;
}

.flex-menu div label {
    width: 200px;
    display: inline-block;
    padding-bottom: 0.5rem;
    /* background-color: #002244; */
    color: white;
    position: absolute;
    top: 30px;
    font-size: 15px;
}

.flex-menu button {
    margin: 10px;
    margin-bottom: 50px;
    border: 0;
    padding: 10px 0;
    width: 140px;
    font-size: 0.75rem;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
    box-shadow: 5px 6px 4px 2px rgba(12, 67, 131, 0.45);
}

.flex-menu__items {
    background-color: darkblue;
    padding: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.flexPuzzle-container {
    /* display: block; */
    position: absolute;
    height: 25%;
    /* changed height form 100% */
    max-width: 100%;
    left: 10%;
    perspective: 1000px;
    top: 300px;
}


/* .containerWidth {
    width: 50%;
    height: 50%;
} */

.cube-1,
.cube-2,
.cube-3,
.cube-4,
.cube-5 {
    /* position: relative; */
    width: 75px;
    height: 75px;
    padding: 15px;
    transform-style: preserve-3d;
    transform: translateZ(-360px) rotate(65deg) rotateZ(75deg);
    transition: all 2s ease-in-out;
}

.side {
    position: absolute;
    width: 75px;
    height: 75px;
}

.front {
    background-color: #371b58;
    transform: rotateY(0deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.back {
    background-color: #371b58;
    transform: rotateX(180deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.right {
    background-color: #371b58;
    transform: rotateY(90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.left {
    transform: rotateY(-90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.top {
    transform: rotateX(90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.bottom {
    background-color: #371b58;
    transform: rotateX(-90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}


/* game2 */