* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-color: black;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
}

.mainRoom {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: none;
}

.computer {
    display: block;
    width: 20%;
    position: relative;
    top: 20%;
    left: 50%;
}

.modal {
    /* width: 500px;
    height: 500px; */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(187, 94, 94);
    /* Fallback color */
    background-color: rgba(253, 61, 61, 0.4);
    /* Black w/ opacity */
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.card_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_div>div {
    width: 100px;
    height: 130px;
    margin: 20px;
    border-radius: 8%;
    background-color: rgb(123, 165, 151);
}

.checkCard {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    top: 40%;
}

.x {
    position: absolute;
    right: 10%;
}

.calculator {
    display: block;
    width: 100px;
    height: 40vh;
    position: relative;
    top: 20%;
    left: 10%;
}