* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#particles-js {
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background-image: linear-gradient( to top right, #00308f, #002244, #002d62, #00308f);
}

.start button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #810955;
    color: white;
}

.start button:hover {
    background-color: #371b58;
}

.mainRoom {
    background-color: #72a0c1;
    width: 100vw;
    height: 100vh;
    display: none;
    position: relative;
}


/* for game1 */

.computer {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
}

.computer:hover {
    background-color: rgba(239, 76, 122, 0.3);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top  */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.card_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_div>div {
    width: 100px;
    height: 130px;
    margin: 20px;
    border-radius: 8%;
    background-color: rgb(123, 165, 151);
}

.checkCard {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    top: 40%;
}

.close {
    position: absolute;
    right: 10%;
    width: auto;
}

.close:hover {
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}


/* for game2 */

.calculator {
    display: block;
    width: 80px;
    height: 40vh;
    position: absolute;
    top: 30%;
    left: 30%;
}


/* restart button */

.restart {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
    background-color: #f697b7;
}

.restart:hover {
    background-color: #a10035;
}


/* box for game3 */

.box {
    width: 100px;
    height: 50vh;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.door {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 10%;
}


/* flexbox style */

#flexboxPuzzleModal .modal-content {
    background-color: #97eaeee6;
    box-shadow: 0px 0px 30px 10px #ed80afe6;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

#flexbox-puzzle-container {
    width: auto;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notification {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in;
}

.flex-menu {
    width: 100%;
    height: 25%;
    padding: 0.3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255, 255, 255, 0);
}

.flex-menu div {
    display: flex;
    flex-direction: column;
}

.flex-menu label {
    display: inline-block;
    padding-bottom: 13px;
    color: #002244;
}

.flex-menu button {
    margin: 10px;
    margin-bottom: 50px;
    border: 0;
    padding: 10px 0;
    width: 140px;
    font-size: 0.75rem;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
    box-shadow: 5px 6px 4px 2px rgba(12, 67, 131, 0.45);
}

.flex-menu__items {
    background-color: darkblue;
    padding: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.flexPuzzle-container {
    /* display: block; */
    position: absolute;
    height: 80%;
    max-width: 100%;
    left: 10%;
    perspective: 1000px;
    top: 300px;
}

.cube-1,
.cube-2,
.cube-3,
.cube-4,
.cube-5 {
    /* position: relative; */
    width: 75px;
    height: 75px;
    /* padding: 25px; */
    transform-style: preserve-3d;
    transform: translateZ(-360px) rotate(65deg) rotateZ(75deg);
    transition: all 2s ease-in-out;
}

.side {
    position: absolute;
    width: 75px;
    height: 75px;
}

.front {
    background-color: #371b58;
    transform: rotateY(0deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.back {
    background-color: #371b58;
    transform: rotateX(180deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.right {
    background-color: #371b58;
    transform: rotateY(90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.left {
    transform: rotateY(-90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.top {
    transform: rotateX(90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.bottom {
    background-color: #371b58;
    transform: rotateX(-90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}