@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}

html {
    height: 100%;
}

body {
    /* background-image: url(./escape.jpg); */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    /* width:300px; */
    position: absolute;
    top: 20%;
    left: 30%;
    color: #89fcf3;
    line-height: 100px;
    transform: skew(-20deg);
    padding-bottom: 60px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 12px;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: radial-gradient(#937dc2, #c689c6, #e8a0bf, #fcc5c0);
}

.start button {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #810955;
    color: white;
    text-align: center;
}

.start button:hover {
    background-image: linear-gradient(45deg, #43188f, #f4bdb1);
}

.mainRoom {
    /* background-color: #72a0c1; */
    width: 100%;
    height: 100vh;
    display: none;
    position: relative;
}


/* for game1 */

.computer {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 300px;
}

.computer:hover {
    cursor: pointer;
    background-color: rgba(239, 76, 122, 0.3);
}

.modal {
    /* width: 500px;
    height: 500px; */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    overflow: auto;
    background-color: rgba(148, 222, 245, 0.312);
    /* Fallback color */
    background-color: rgba(243, 126, 177, 0.259);
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.card_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_div>div {
    width: 100px;
    height: 130px;
    margin: 20px;
    border-radius: 8%;
    background-color: rgb(123, 165, 151);
}

.checkCard {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    top: 40%;
}


/* .close {
    position: absolute;
    right: 10%;
    width: auto;
 } */

.closegame2:hover {
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}


/* for game2 */

.calculator {
    display: block;
    width: 90px;
    height: auto;
    position: absolute;
    top: 37%;
    left: 7%;
}

.calculator:hover {
    cursor: pointer;
    background-color: #fef9a7;
}

.modal2 {
    /* width: 500px;
    height: 500px; */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    overflow: auto;
    background-color: rgb(187, 94, 94);
    background-color: rgba(253, 61, 61, 0.4);
}

#container div {
    color: white;
}

#container button {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 4px solid black;
    font-size: 30px;
    font-weight: bold;
    color: rebeccapurple;
    margin: 2px 0 0 2px;
}

#main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
}

#keypad {
    grid-column: 1;
    width: 50%;
    margin-left: 10%;
}

#sum {
    grid-column: 2;
    margin-right: 10%;
}

.numberButton {
    background-color: transparent;
    box-shadow: 10px 10px 5px black;
}

.zeroButton {
    background-color: transparent;
    box-shadow: 10px 10px 5px black;
}

.signButton {
    background-color: transparent;
    box-shadow: 10px 10px 5px black;
}

.position {
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid blue;
}

#message {
    line-height: normal;
    font-size: 1.5em;
}


/* restart button */

.restart {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
    background-color: #f697b7;
}

.restart:hover {
    background-image: linear-gradient(45deg, #c63176, #e1cea8);
}


/* box for game3 */

.box {
    width: 100px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 70%;
}

.box:hover {
    cursor: pointer;
    background-color: rgba(162, 98, 231, 0.625);
}

.door {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 10%;
}


/* flexbox style */

#flexboxPuzzleModal .modal-content {
    background-color: #c8b6e2;
    box-shadow: 0px 0px 30px 10px #db5890e6;
}


/* Modal Content */

.close {
    color: whitesmoke;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
    position: relative;
}


/* close hover for flexxboxg game2 */

.close:hover,
.close:focus {
    /* background-color: red; */
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
}


/* changed puzzle container's width nad height */

#flexbox-puzzle-container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.heading {
    margin: 10px;
    color: rgb(0, 0, 0);
}

.heading__rules {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
}

.heading__subtitle {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 50px;
    text-align: center;
}

.notification {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in;
}

.flex-menu {
    width: 100%;
    height: 25%;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.flex-menu div {
    display: flex;
    flex-direction: column;
}

.flex-menu label {
    display: inline-block;
    padding-bottom: 0.5rem;
}

.flex-menu button {
    margin: 10px;
    margin-bottom: 50px;
    border: 0;
    padding: 10px 0;
    width: 140px;
    font-size: 0.75rem;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
    box-shadow: 5px 6px 4px 2px rgba(12, 67, 131, 0.45);
}

.flex-menu__items {
    background-color: darkblue;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-family: roboto, cursive;
    font-size: 25px;
}

.flexPuzzle-container {
    /* display: block; */
    position: absolute;
    height: 55%;
    max-width: 100%;
    left: 10%;
    perspective: 700px;
    top: 300px;
}

.cube-1,
.cube-2,
.cube-3,
.cube-4,
.cube-5 {
    width: 75px;
    height: 75px;
    padding: 25px;
    transform-style: preserve-3d;
    transform: translateZ(-360px) rotate(65deg) rotateZ(75deg);
}

.side {
    position: absolute;
    width: 75px;
    height: 75px;
}

.front {
    background-color: blue;
    transform: rotateY(0deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.back {
    background-color: blue;
    transform: rotateX(180deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.right {
    background-color: blue;
    transform: rotateY(90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.left {
    transform: rotateY(-90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.top {
    transform: rotateX(90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}

.bottom {
    background-color: blue;
    transform: rotateX(-90deg) translateZ(35px);
    transition: all 0.5s ease-in-out;
}


/* lamp img*/

.lamp {
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 45%;
    left: 64%;
    animation: magicRotate 7s linear infinite;
}

.plant {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 40%;
    left: 20%;
    animation: plantanimate 3s linear infinite;
}

.work {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 55%;
}

.window {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 35%;
    transition: all 1s linear;
}

.window:hover {
    transform: scale(0.5);
}

.pngkey {
    width: 60px;
    height: 100px;
    position: absolute;
    bottom: 40%;
    left: 40%;
}

.houseicon {
    width: 30px;
}

#game-instruction {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20%;
    right: 10%;
    background-image: linear-gradient( 45deg, #fcc5c0, #349ac0, #e8a0bf, #e2d6af, #fef9a7);
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    border-radius: 30%;
    color: white;
}

#magic-icon {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 25%;
}

#magic-icon:hover {
    cursor: pointer;
}

.boxes_icon {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 40%;
    right: 17%;
}

.calendar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    right: 7%;
}


/* countdown */

#countdown {
    font-size: 40px;
    height: 60px;
    width: 150px;
    position: absolute;
    top: 2%;
    left: 5%;
    background: linear-gradient(to right bottom, #273c75, #079992, #c8b6e2);
    border-radius: 12px;
    text-align: center;
    color: white;
    cursor: pointer;
}


/* audio */

#playpausebtn {
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 10px 25px;
    font-size: 22px;
    line-height: 40px;
    min-width: 150px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right bottom, #273c75, #079992, #c8b6e2);
    color: #fff;
    border: 0px;
    height: 60px;
}

@keyframes plantanimate {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes magicRotate {
    0% {
        transform: translateX(100px);
    }
    25% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    75% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100px);
    }
}


/* @keyframes animate3 {
    0% {
        transform: skewX(0deg);
    }
    25% {
        transform: skewX(20deg);
    }
    50% {
        transform: skewX(-20deg);
    }
    75% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
} */